body{
    font-family: 'Source Sans Pro', sans-serif;
}
h1{
    font-size: 50px;  
    padding-left: 10px;
    border: auto;
}
#h1-color{ 
    color: rgb(56, 2, 2);
}
.color{
    color: rgb(32, 9, 180);
}
section{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 10px;
    padding-top: 5px;
}
.half-width img{
    width: 60%;
    
}
.button{
    text-decoration: none;
    background-image: linear-gradient(rgb(211, 143, 17), rgb(207, 22, 22));
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
    font-weight: 800;
}
.header-position{
    text-align: center;
}
.box-model{
    width: 30%;
    height: 300px;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 20px;
}
.image-decoration{
    width: 200px;
    height: 100px;
}
#first-section{
    background-color:rgb(201, 184, 160);
    border: 5px;
    padding: 5px;
}
#second-section{
    background-color: rgb(221, 189, 140);
    border: 5px;
    padding: 5px;
}
#third-section{
    background-color: blanchedalmond;
    border: 5px;
    padding: 5px;
}